.addPostPic{


    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.addPostBox{

        width:95%;
        height: 180px;

        margin-left: 10px;
        margin-top: 10px;
        border-radius: 10px;

        -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;

    


}

.addPostContainer{


    padding: 15px;
    

}
.addPostTop{

        display: flex;
        align-items: center;


}
.addPostInput{

    border: none;
    width:80%;
    margin-left: 10px;


}
.addPostInput:focus{


    outline: none;
}
.postHr{
    margin: 20px;
}

.addPostBottom{

   
}
.addPostOptions{
        display: flex;
        



}    
.addPostOption{
    display: flex;
    align-items:  center;

    margin-left: 15px;
    margin-right: 10px;
    
    cursor: pointer;


}    
.postButton{

        background-color: blue;
        border-radius: 5px;
        color: white;
        padding: 7px;
         cursor: pointer;


}