
.leftBox{

    flex:1;
    background-color: white;
    height:calc(100vh - 50px) ;
    overflow-y: scroll;
    position: sticky;
    

}

::-webkit-scrollbar{


    width: 5px;
  
}
::-webkit-scrollbar-track{


    background-color: grey;
}
::-webkit-scrollbar-thumb{
    background-color: black;

    width: 5px;
}
.menu{

 list-style: none;

}
.menuItemList{

   display:  flex;
   margin-bottom: 20px;
   align-items: center;

}

.picPage{

    width: 32px;
    height: 32px;
    border-radius: 50%;
   margin: 0;
   padding: 0;

}

.pagesULike{

    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;
    color: red;


}
.likespage{

    margin: 0;
    padding: 0;


}
.pageLikeListItem{

        display: flex;
        align-items: center;
        margin-top: 10px;

}
.pageName{


    margin-left: 10px;
}